.u-section-1 {
  min-height: 50vw;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1129px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 255px;
  height: 128px;
  margin: 469px auto 0 -57px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1129px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 220px;
  height: 220px;
  margin: 376px 27px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 9.375rem;
  width: 385px;
  margin: -1052px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  width: 552px;
  margin: 94px auto 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 156px;
  min-width: 108px;
  margin: 77px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1199px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 931px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 931px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1051px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 713px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 713px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 2018px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1070px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1070px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1480px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 674px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 674px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}